<h2>Add Windows</h2>

<%= form_tag action: :update do %>
  <ul>
    <% @windows.each do |win| %>
      <li>
        <%= check_box_tag 'windows[]', win.id %>
        <%= win.name %>
      </li>
    <% end %>
  </ul>
  <%= button_to 'Save', window_path, method: :patch %>
<% end %>
